html, body {
	margin: 			0px;
	padding: 			0px;
	height: 			100%;
}

#map-canvas {
	height: 			100%;
	width:				70%;
	float:				left;
}

#controls {
	height: 			100%;
	width:				30%;
	float:				right;
}

#panel {
	position: 			absolute;
	top: 				5px;
	left: 				50%;
	margin-left: 		-180px;
	z-index: 			5;
	background-color: 	#fff;
	padding: 			5px;
	border: 			1px solid #999;
}

#controlpanel {
	height:				60%;
	background-color:	#666;
	border-left:		10px #333 solid;
	margin: 			0px auto;
}

#videofeed {
	height:				40%;
	border-left:		10px #333 solid;
	border-top:			5px #333 solid;
	margin: 			0px auto;
}

#videoElement {
    width:				100%;
    height:				100%;
    background-color:	#666;
}