html, body {
	margin: 			0px;
	padding: 			0px;
	height: 			100%;
}

#status {
	font-size:				20px;
	font-family:			Courier;
	background-color:		#D8D8D8;
	width:					100%;
	padding-left:			20px;
}

#response {
	font-size:				20px;
	font-family:			Courier;
	background-color:		#D8D8D8;
	width:					100%;
	padding-left:			20px;
	padding-right:			20px;
	clear:					both;
}

.btn {
	height:					80px;
	width:					100%;
	font-size:				20px;
}

#primary-button-holder {
	width:					40%;
	float:					left;
	margin-top:				20px;
	margin-left:			20px;
}

#secondary-button-holder {
	width:					40%;
	float:					right;
	margin-top:				20px;
	margin-right:			20px;
}

 @media screen and (orientation:portrait) {
 	/* Primary and secondary containers */
	#mainwindow {
		height:				65%;
		width:				100%;
	}

	#sidepanel {
		height: 			35%;
		width:				100%;
		border-top:			5px #333 solid;
		background-color:	#E8E8E8;
	}

	/* Primary container (map) elements */

	#map-canvas {
		height: 			100%;
		width:				100%;
	}

	#panel {
		position: 			absolute;
		top: 				5px;
		left: 				40%;
	/*	margin-left: 		-360px; */
		z-index: 			5;
		background-color: 	#fff;
		padding: 			5px;
		border: 			1px solid #999;
	}

	/* Secondary container (inf) elements */

	#sidepanel_top {
		width:				80%;
		background-color:	#fff;
		margin: 			0px auto;
		float:				left;
	}

	#sidepanel_bottom {
		width:				20%;
		border-left:		5px #333 solid;
		border-top:			5px #333 solid;
		margin: 			0px auto;
		float:				right;
	}

	#videoElement {
		width:				100%;
		height:				100%;
		background-color:	#666;
	}
 }
 @media screen and (orientation:landscape) {
	/* Primary and secondary containers */
	#mainwindow {
		height:				100%;
		width:				60%;
		float:				left;
	}

	#sidepanel {
		height: 			100%;
		width:				40%;
		float:				right;
		border-left:		10px #333 solid;
	}

	/* Primary container (map) elements */

	#map-canvas {
		height: 			100%;
		width:				100%;
	}

	#panel {
		position: 			absolute;
		top: 				5px;
		left: 				26%;
	/*	margin-left: 		-360px; */
		z-index: 			5;
		background-color: 	#fff;
		padding: 			5px;
		border: 			1px solid #999;
	}

	/* Secondary container (inf) elements */

	#sidepanel_top {
		height:				60%;
		background-color:	#fff;
		margin: 			0px auto;
	}

	#sidepanel_bottom {
		height:				40%;
		border-left:		10px #333 solid;
		border-top:			5px #333 solid;
		margin: 			0px auto;
	}

	#videoElement {
		width:				100%;
		height:				100%;
		background-color:	#666;
	}
}
