html, body {
	margin: 			0px;
	padding: 			0px;
	height: 			100%;
}

#mainwindow {
	height:				100%;
	width:				60%;
	float:				left;
}

#map-canvas {
	height: 			100%;
	width:				100%;
}

#sidepanel {
	height: 			100%;
	width:				40%;
	float:				right;
}

#map {
	width:				100%;
	height:				100%;
}

#panel {
	position: 			absolute;
	top: 				5px;
	left: 				26%;
/*	margin-left: 		-360px; */
	z-index: 			5;
	background-color: 	#fff;
	padding: 			5px;
	border: 			1px solid #999;
}

#sidepanel_top {
	height:				60%;
	background-color:	#fff;
	border-left:		10px #333 solid;
	margin: 			0px auto;
}

#sidepanel_bottom {
	height:				40%;
	border-left:		10px #333 solid;
	border-top:			5px #333 solid;
	margin: 			0px auto;
}

#videoElement {
    width:				100%;
    height:				100%;
    background-color:	#666;
}
